In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
from datetime import datetime

In [3]:
data_train = pd.read_parquet('data/data_train.parquet')
data_test = pd.read_parquet('data/data_test.parquet')
labels_train = pd.read_csv('data/labels_train.csv')
labels_test = pd.read_csv('data/labels_test.csv')

In [28]:
print(data_train.shape)
print(data_test.shape)
print(labels_train.shape)
print(labels_test.shape)

(509834, 33)
(205574, 33)
(394, 3)
(104, 3)

In [25]:
print('Début :',data_train.index[0], '     Fin :',data_train.index[-1])
print('Début :',data_test.index[0], '     Fin :',data_test.index[-1])

Début : 1997-10-01 00:00:00      Fin : 2007-12-31 23:50:00
Début : 2008-01-01 00:00:00      Fin : 2011-12-31 23:50:00

In [12]:
data_train.head()

,B,Bx,Bx_rms,By,By_rms,Bz,Bz_rms,Na_nl,Np,Np_nl,...,Range F 8,Range F 9,V,Vth,Vx,Vy,Vz,Beta,Pdyn,RmsBob
1997-10-01 00:00:00,6.584763,3.753262,2.303108,0.966140,2.602693,-5.179685,2.668414,2.290824,23.045732,24.352797,...,2.757919e+09,2.472087e+09,378.313934,80.613098,-351.598389,-138.521454,6.956387,7.641340,5.487331e-15,0.668473
1997-10-01 00:10:00,6.036456,0.693559,1.810752,-0.904843,2.165570,-1.944006,2.372931,2.119593,23.000492,20.993362,...,3.365612e+09,3.087122e+09,350.421021,69.919327,-331.012146,-110.970787,-21.269474,9.149856,4.783776e-15,0.753848
1997-10-01 00:20:00,5.653682,-4.684786,0.893058,-2.668830,0.768677,1.479302,1.069266,2.876815,20.676191,17.496399,...,1.675611e+09,1.558640e+09,328.324493,92.194435,-306.114899,-117.035202,-13.018987,11.924199,3.719768e-15,0.282667
1997-10-01 00:30:00,5.461768,-4.672382,1.081638,-2.425630,0.765681,1.203713,0.934445,2.851195,20.730188,16.747108,...,1.589037e+09,1.439569e+09,319.436859,94.230705,-298.460938,-110.403969,-20.350492,16.032987,3.525211e-15,0.304713
1997-10-01 00:40:00,6.177846,-5.230110,1.046126,-2.872561,0.635256,1.505010,0.850657,3.317076,20.675701,17.524536,...,1.812308e+09,1.529260e+09,327.545929,89.292595,-307.303070,-111.865845,-12.313167,10.253789,3.694283e-15,0.244203

In [336]:
data_test.head()

,B,Bx,Bx_rms,By,By_rms,Bz,Bz_rms,Na_nl,Np,Np_nl,...,Range F 8,Range F 9,V,Vth,Vx,Vy,Vz,Beta,Pdyn,RmsBob
2008-01-01 00:00:00,4.191322,-3.683284,0.174691,1.798880,0.273878,-0.362722,0.428125,0.132609,6.028121,4.624486,...,9.860334e+08,1.558658e+09,346.071014,36.012177,-345.823730,2.977509,-6.587379,0.934875,1.208364e-15,0.129070
2008-01-01 00:10:00,4.257490,-2.976951,0.144501,2.953034,0.125648,0.410667,0.274116,0.123604,6.149254,5.863568,...,1.126279e+09,1.762056e+09,348.415741,34.976662,-348.193298,-5.476861,-10.663119,0.872927,1.248913e-15,0.079137
2008-01-01 00:20:00,4.190869,-3.058623,0.286867,2.442341,0.311452,-0.292565,0.326747,0.101965,6.070359,5.217190,...,1.144053e+09,1.718165e+09,348.164673,34.677750,-347.992798,-1.428905,-8.036335,0.879172,1.231391e-15,0.132966
2008-01-01 00:30:00,4.261395,-1.951039,0.148014,3.703976,0.095857,-0.347672,0.228227,0.079186,6.000411,5.828165,...,1.098246e+09,1.878379e+09,356.162506,32.947617,-355.946167,-10.620467,-5.134477,0.764977,1.272731e-15,0.069234
2008-01-01 00:40:00,4.267907,-1.729106,0.101710,3.840123,0.068386,0.392823,0.159227,0.073780,5.841330,5.708538,...,1.202470e+09,1.859657e+09,357.871826,31.242083,-357.522736,-9.289846,-12.252926,0.657990,1.251328e-15,0.047655

In [334]:
labels_train.head()

                begin                 end      origin
0 1997-09-03 13:40:00 1997-09-03 20:40:00  Chinchilla
1 1997-09-18 03:50:00 1997-09-20 00:00:00  Chinchilla
2 1997-09-21 22:00:00 1997-09-22 17:30:00  Chinchilla
3 1997-10-01 13:40:00 1997-10-03 08:00:00          FP
4 1997-10-10 22:00:00 1997-10-11 23:20:00  Chinchilla

In [335]:
labels_test.head()

                begin                 end      origin
0 2008-04-15 12:40:00 2008-04-16 00:00:00         Chi
1 2008-05-23 00:10:00 2008-05-23 12:50:00  Chinchilla
2 2008-07-25 13:20:00 2008-07-25 23:10:00         Chi
3 2008-09-03 16:30:00 2008-09-04 03:50:00  Chinchilla
4 2008-09-17 04:10:00 2008-09-18 08:00:00  Chinchilla

In [332]:
def dataset_maker(labels, data):
    
    # Processing of training labels
    labels.begin = pd.to_datetime(labels.begin)
    labels.end = pd.to_datetime(labels.end)
    labels = labels.apply(lambda x: pd.date_range(start=x['begin'], end=x['end'], freq='10T'), axis=1)
    labels = labels.explode()
    labels = labels.reset_index().drop('index',axis=1)
    
    # Processing of training dataset
    ## Créer un nouvel index comprenant toutes les dates manquantes
    date_range = pd.date_range(start=data.index.min(), end=data.index.max(), freq='10T')
    data = data.reindex(date_range)#, method='ffill')
    ## Remplir les valeurs manquantes
    data.interpolate(inplace=True)
    
    # Creation of target feature
    data['target'] = data.index.isin(labels[0]).astype(int)
    
    return data

In [333]:
data_train_final = dataset_maker(labels_train, data_train)
data_test_final = dataset_maker(labels_test, data_test)

In [338]:
data_train_final.to_csv("data_final/data_train.csv")
data_test_final.to_csv("data_final/data_test.csv")

In [345]:
test = pd.read_csv("data_final/data_train.csv", index_col = 0)
test.head()

,B,Bx,Bx_rms,By,By_rms,Bz,Bz_rms,Na_nl,Np,Np_nl,...,Range F 9,V,Vth,Vx,Vy,Vz,Beta,Pdyn,RmsBob,target
1997-10-01 00:00:00,6.584763,3.753262,2.303107,0.966140,2.602693,-5.179685,2.668414,2.290824,23.045732,24.352797,...,2.472086e+09,378.31393,80.613100,-351.59840,-138.521450,6.956387,7.641340,5.487331e-15,0.668473,0
1997-10-01 00:10:00,6.036456,0.693559,1.810752,-0.904843,2.165570,-1.944006,2.372931,2.119593,23.000492,20.993362,...,3.087122e+09,350.42102,69.919330,-331.01215,-110.970790,-21.269474,9.149856,4.783776e-15,0.753848,0
1997-10-01 00:20:00,5.653682,-4.684786,0.893058,-2.668830,0.768677,1.479302,1.069266,2.876815,20.676191,17.496399,...,1.558640e+09,328.32450,92.194435,-306.11490,-117.035200,-13.018987,11.924199,3.719768e-15,0.282667,0
1997-10-01 00:30:00,5.461768,-4.672382,1.081638,-2.425630,0.765681,1.203713,0.934445,2.851195,20.730188,16.747108,...,1.439569e+09,319.43686,94.230705,-298.46094,-110.403970,-20.350492,16.032987,3.525211e-15,0.304713,0
1997-10-01 00:40:00,6.177846,-5.230110,1.046126,-2.872562,0.635256,1.505010,0.850657,3.317076,20.675701,17.524536,...,1.529260e+09,327.54593,89.292595,-307.30307,-111.865845,-12.313167,10.253789,3.694283e-15,0.244203,0